<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Book List</title>
    </head>
    <body>
        <header>
            <h1>{{ heading }}</h1>
        </header>
        <main>
            <ul>
                {% for book in books %}
                    <li>{{ book.title }} by {{ book.author }}</li>
                {% endfor %}
            </ul>
        </main>
    </body>
</html>